version 5.257.0
source https://api.nuget.org/v3/index.json
#https://kmddk.pkgs.visualstudio.com/45c29cd0-03bf-4f63-ac71-3c366095dda9/_packaging/KMD_Package_Feed/nuget/v2 username: "%FEED_PAT%" password: "%FEED_PAT%"

storage: none
framework: auto-detect

nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Saturn 
nuget Giraffe
nuget fsharp.data = 4.0.1
nuget Newtonsoft.Json
nuget Thoth.Json.Net
nuget FSharp.Core = 5.0.0