version 5.251.0
source source https://kmddk.pkgs.visualstudio.com/45c29cd0-03bf-4f63-ac71-3c366095dda9/_packaging/KMD_Package_Feed/nuget/v2 username: "%FEED_PAT%" password: "%FEED_PAT%"

storage: none
framework: auto-detect
storage: none

nuget Microsoft.AspNetCore.Authentication.JwtBearer = 3.1.10
nuget Saturn = 0.13.1
nuget Giraffe = 4.1.0
nuget FSharp.Core
nuget FSharp.Data
nuget Newtonsoft.Json
nuget Thoth.Json.Net

group test
    source https://api.nuget.org/v3/index.json
    framework: auto-detect
    storage: none
    
    nuget FsUnit
    nuget FsUnit.xunit
    nuget xunit
    nuget Microsoft.NET.Test.SDK
    nuget microsoft.testplatform.testhost
    nuget xunit.runner.VisualStudio
    nuget FSharp.Core ~> 5 